@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    width: 100%;
    min-height: 100%;
    overflow-x: clip;
    overscroll-behavior-x: none;
  }

  body {
    background-color: #f5eedc;
    font-family: "Manrope", sans-serif;
  }


  html.dark body {
    background-color: #111111;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
/* src/index.css */
.mapboxgl-ctrl-attrib {
  font-size: 10px !important;
  opacity: 0.6;
}

.mapboxgl-ctrl-bottom-left {
  display: none; /* прибирає лого зліва */
}
.mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 1rem !important;
  box-shadow: none !important;
  background: transparent !important;
}

.mapboxgl-popup-tip {
  display: none; /* прибирає хвостик */
}
